@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-azeret-mono: "Azeret Mono", monospace;
  --font-inter: "Inter", sans-serif;
}

body {
  @apply bg-white m-0 p-0;
  font-family: var(--font-inter);
}

h1 {
  @apply text-2xl md:text-2xl font-cardo font-bold text-accent tracking-wider;
}

h2 {
  @apply font-inter text-base font-medium text-accent;
}

h3{
  @apply text-xl font-cardo text-white tracking-wide;
}

h4 {
  @apply text-base text-accent;
}

h5{
  @apply text-xs text-darker;
}

h6{
  @apply text-lightText font-bold;
}

p{
  @apply text-sm
}

nav {
  @apply
    pb-0
    items-center 
    text-center
    mx-auto 
}

nav h2{
  @apply mb-2;
}

main nav {
  @apply border-0;
}
  /* button styles */
button {
  @apply 
    px-3 py-2 
    flex justify-between items-center gap-2
    text-sm;
}
button:hover {
  @apply bg-opacity-90;
}
.btn-primary {
  @apply bg-accent text-lightAccent;
}
.btn-secondary {
  @apply bg-lightAccent text-accent;
}
  
/* feedback styles */
.error {
  @apply 
    border-2 
    border-red-500 
    bg-red-300
    text-red-800 
    py-1 px-2 
    rounded-sm
    block
    max-w-fit
    my-4 mx-auto;
}

/* Image loop transitions*/

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

.fade-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s ease-in-out; /* Smooth fade effect */
}

.fade-in {
  opacity: 1;
  z-index: 2; /* Ensure new image is on top */
}

.fade-out {
  opacity: 0;
  z-index: 1; /* Old image fades out below */
}

@media (min-width: 1024px) {
  .lg-gradient {
    background: linear-gradient(
      to right,
      rgba(216,245,250,0) 0%,
      rgba(216,245,250,0.7) 40%,
      rgba(216,245,250,0.8) 100%
    );
  }
}