@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900;
}

nav {
  @apply
    pb-4
    border-b-2 border-gray-200
    items-center gap-5 
    text-center
    my-8 mx-auto 
    max-w-5xl;
}

nav h2{
  @apply text-3xl mb-4;
}

nav a, nav span {
  @apply 
    text-gray-500
    text-sm
}
nav a:hover {
  @apply text-black;
}
main nav {
  @apply border-0;
}
  /* button styles */
button {
  @apply 
    px-3 py-2 
    rounded-sm 
    flex justify-between items-center gap-2
    text-sm;
}
button:hover {
  @apply bg-opacity-90;
}
.btn-primary {
  @apply bg-primary text-white;
}
.btn-secondary {
  @apply bg-gray-200 text-gray-900;
}
  
/* feedback styles */
.error {
  @apply 
    border-2 
    border-red-500 
    bg-red-300
    text-red-800 
    py-1 px-2 
    rounded-sm
    block
    max-w-fit
    my-4 mx-auto;
}